# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.InternetReachabilityService.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\WorkGit\All\InternetReachabilityService\.idea\.idea.InternetReachabilityService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
